.visualTour {
    position: absolute;
    left: 520px;
    top: -150px;
    height: 300px;
    width: 420px;
}

.coverImage {
    width: 380px;
    margin: 0 auto;
}

.coverImage img {
    padding: 10px 0 0 2px;
}

.imagesWrapper {
    display: none;
    position: relative;
}

.coverImage img, .imagesWrapper img {
    position: absolute;
}

.captionWrapper {
    display: none;
    font-style: italic;
    font-size: 140%;
    color: #FFFFFF;
    background-color: #484848;
    text-align: center;
    padding: 0.25em 0 0.5em;
    opacity: 0.7;
    position: absolute;
}

.descWrapper {
    width: 480px;
    margin-top: 16px;
}

.descWrapper p {
    line-height: 130%;
    font-size: 125%;
}

.newsWrapper {
    width: 560px;
    float: left;
    margin-top: 2px;
}

.dlWrapper {
    width: 400px;
    float: right;
}

.dlInnerWrapper {
    margin: 0 auto;
    height: 61px;
    width: 357px;
}

.dlButton {
    background: url("img/dlbutton.png") no-repeat scroll left top transparent;
}

.dlButton,
.dlButton:link,
.dlButton:visited,
.dlButton:hover,
.dlButton:focus {
    display: block;
    height: 100%;
    width: 100%;

    color: #FFFFFF;
    text-decoration: none;
    font-size: 13px;
}

.dlButton span {
    position: relative;
    top: 40px;
    left: 50px;
    opacity: 0.84;
}

.dlInnerWrapper div {
    margin: 6px;
}

.dlInnerWrapper div a {
    margin: 0 6px;
}

/* styles for banner */

.dlWrapper #banner {
    margin: 52px auto 4px !important;
    width: 320px !important;
}
